.mapWrapper {
  width: 100vw;
  height: 100vh;
  border: 1px solid red;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  /* margin-top: 4rem; */
  top: 0px;
  background-color: lightblue;
}

.test {
  width: 4rem;
  height: 4rem;
  margin-top: 10rem;
  color: red;
  z-index: 99;
}

.marker {
  border: 1px solid red;
  height: 1.5rem;
  width: 1.5rem;
  display: flex;
  color: rgb(250, 128, 15);

  /* box-shadow: 4px 4px 4px -4px rgba(0, 0, 0, 0.75); */
}

.marker:hover {
  cursor: pointer;
}
